/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom left, rgba(23, 59, 35, 1), rgba(255, 255, 255, 0));
  z-index: 1;
}
.logo {
  width: 65%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 30px;
  z-index: 2;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

input {
      display: block;
    height: 50px;
    width: calc(100% - 20px);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
form h3 {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-weight: 500;
  color: #f1f1f1;
}
form p {
  font-size: 16px;
  font-weight: 300;
  color: #f1f1f1;
}
.forgot-password {
  color: #03270e;
  text-decoration: none;
  margin-right: 10px;

}
::placeholder {
  color: #c6cac8;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #173B23;
  color: #ffffff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
